.header {
  
    position: relative;
    
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
            only screen and (min-width: 125em) {
        background-color: $color-white;
    }

  
    &__logo-box {
         height: 50px !important; 
        width: 50px !important;
        position: absolute;
        top: 0rem;
        left: 4rem;
       
        
    }

    &__logo {
        height: 50px;
        width: 50px;
    }
    
    &__text-box {
        margin: 10rem auto;
    }
}